# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree
!/bundles/**
!/esm5/**
!/esm2015/**
!/fesm5/**
!/fesm2015/**
!/lib/**
!package.json
!.npmignore
!*.md
!*.ts
!*.json


